.app {
  text-align: center;
  background-color: aqua;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
button{
 background-color: brown;
  width: 150px;
  height: 75px;
 border-radius: 100px;
}
p:hover{
  color: hotpink;

}

 img{
  animation-name: rotate;
  animation-duration: 30s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
